{% if RESEARCH %}
  {% from 'includes/sidebar/macros.jinja' import title %}

<!-- Sidebar/Research -->
<li class="list-group-item">
  <h4>
      <i class='fa fa-flask' aria-hidden='true'></i>
      {{ title(_('Recherche'), DISABLE_SIDEBAR_TITLE_ICONS) }}
  </h4>
  <ul class="list-group" id="research">
    {% for icon, style, name, link in RESEARCH %}
        <li class="list-group-item">
          <img src="{{ icon }}" style="{{ style }}" />
          <a href="{{ link }}">
            {{ name }}
          </a></li>
    {% endfor %}
  </ul>
</li>
<!-- End Sidebar/Research -->
{% endif %}
