{% if SOCIAL %}
  {% from 'includes/sidebar/macros.jinja' import title %}

<!-- Sidebar/Social -->
<li class="list-group-item">
  <h4>
      <i class="fa fa-user" aria-hidden="true"></i>
      {{ title(_('Social'), DISABLE_SIDEBAR_TITLE_ICONS) }}
  </h4>
  <ul class="list-group" id="social">
    {% for icon, name, link in SOCIAL %}
      {% if icon == "linkedin" %}
        <li class="list-group-item"><a href="{{ link }}"><i class="fab fa-linkedin"></i> {{ name }}</a></li>
      {% else %}
        <li class="list-group-item"><a href="{{ link }}"><i class="fa fa-{{ icon }}"></i> {{ name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</li>
<!-- End Sidebar/Social -->
{% endif %}
