.reveal section img {
  border: none;
}

.reveal section h2 {
  color: #2A76DD;
  text-transform: uppercase;
  text-shadow: -2px 4px 0 rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

reveal code {
  background-color: gray;
}

.fa-circle-check {
  color: green;
}

.fa-circle-xmark {
  color: red;
}

.fa-bomb {
  color: grey;
}

.fa-lightbulb {
  color: yellow;
}

.fa-trophy {
  color: yellow;
}

.fa-medkit {
  color: pink;
}

.fa-triangle-exclamation {
  color: orange;
}

.fa-cogs {
  color:steelblue;
}

.fa-ice-cream {
  color:tomato;
}

.fa-firefox-browser {
  color: orange;
}

.fa-bullseye {
  color:orangered
}

.fa-book-skull, .fa-screwdriver-wrench {
  color: grey;
}

code:not([class]) {
  background-color: darkgrey;
  border-radius: 5px;
  padding: 5px;
  font-size: 80%;
  color: white;
}